# Inrtoduction to Scikit-Learn (sklearn)

This notebook demonstrates some of the most useful fucntions of the beautiful Scikit-Learn library.

0. An end-to-end Scikit-Learn workflow
1. Getting the data  ready.
2. Choose the right estimator/alogorithm for our problems
3. Fit the model/alogorithm and use it to make predictions on our data
4. Evaluating a model.
5. Improve a model.
6. Save and load a trained model.
7. Putting it all together!.

## 0. An end-to-end Scikit-Learn workflow

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
# Create a X (features matrix)
x = heart_disease.drop("target",axis=1)

# Create Y (labels)
y = heart_disease["target"]

In [6]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [7]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [9]:
# 2. Choose the right model and hyperparameters

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We will keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [10]:
# 3. Fit the model to the trainig data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [12]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
80,41,1,2,112,250,0,1,179,0,0.0,2,0,2
208,49,1,2,120,188,0,1,139,0,2.0,1,3,3
108,50,0,1,120,244,0,1,162,0,1.1,2,0,2
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2
219,48,1,0,130,256,1,0,150,1,0.0,2,2,3
52,62,1,2,130,231,0,1,146,0,1.8,1,3,3
247,66,1,1,160,246,0,1,120,1,0.0,1,3,1
187,54,1,0,124,266,0,0,109,1,2.2,1,1,3

In [13]:
clf.fit(x_train,y_train)

RandomForestClassifier()

In [14]:
# Make a prediction
y_label = clf.predict(np.array([0,2,3,4]))

C:\Users\himan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [16]:
y_preds = clf.predict(x_test)
y_preds

array([1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0], dtype=int64)

In [18]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
80,41,1,2,112,250,0,1,179,0,0.0,2,0,2
208,49,1,2,120,188,0,1,139,0,2.0,1,3,3
108,50,0,1,120,244,0,1,162,0,1.1,2,0,2
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2
219,48,1,0,130,256,1,0,150,1,0.0,2,2,3
52,62,1,2,130,231,0,1,146,0,1.8,1,3,3
247,66,1,1,160,246,0,1,120,1,0.0,1,3,1
187,54,1,0,124,266,0,0,109,1,2.2,1,1,3

In [19]:
y_test

80     1
208    0
108    1
0      1
142    1
      ..
102    1
219    0
52     1
247    0
187    0
Name: target, Length: 61, dtype: int64

In [20]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,52,1,0,112,230,0,1,160,0,0.0,2,1,2
34,51,1,3,125,213,0,0,125,1,1.4,2,1,2
191,58,1,0,128,216,0,0,131,1,2.2,1,3,3
83,52,1,3,152,298,1,1,178,0,1.2,1,0,3
234,70,1,0,130,322,0,0,109,0,2.4,1,3,2

In [21]:
# 4. Evaluate the Model on the training and test data
clf.score(x_train,y_train)

1.0

In [22]:
clf.score(x_test,y_test)

0.819672131147541

In [24]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.78      0.81      0.79        26
           1       0.85      0.83      0.84        35

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [26]:
confusion_matrix(y_test,y_preds)

array([[21,  5],
       [ 6, 29]], dtype=int64)

In [27]:
accuracy_score(y_test,y_preds)

0.819672131147541

In [32]:
# Improve a model
# Try differnet amount of n_estimators

np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators....")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f"Model accuracy on test set: {clf.score(x_test,y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators....
Model accuracy on test set: 80.33%

Trying model with 20 estimators....
Model accuracy on test set: 81.97%

Trying model with 30 estimators....
Model accuracy on test set: 78.69%

Trying model with 40 estimators....
Model accuracy on test set: 80.33%

Trying model with 50 estimators....
Model accuracy on test set: 80.33%

Trying model with 60 estimators....
Model accuracy on test set: 81.97%

Trying model with 70 estimators....
Model accuracy on test set: 83.61%

Trying model with 80 estimators....
Model accuracy on test set: 80.33%

Trying model with 90 estimators....
Model accuracy on test set: 85.25%

In [34]:
# Save the Model and load
import pickle 

pickle.dump(clf,open("random_forest_model1.pkl","wb"))

In [35]:
loadel_model = pickle.load(open("random_forest_model1.pkl","rb"))
loadel_model.score(x_test,y_test)

0.8524590163934426